
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, serif;
        box-sizing: border-box;
    }

    .container{
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calculator{
        background-color: rgb(58, 68, 82);
        padding: 20px;
        border-radius: 10px;
    }
    .calculator form input{
        border: 0;
        outline: 0;
        width: 60px;
        height: 60px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }


    form .display{
        display: flex;
        justify-content: flex-end;
        margin: 20px 0;
        border: 1px solid white;

    }

    form .display input{
        text-align: right;
        flex: 1;
        font-size: 45px;
        box-shadow: none;
    }

    form input.equal{
        width: 135px;
        background-color: rgb(230, 107, 0);
    }

    form input.symbols{
        color: rgb(255, 146, 51);
    }